[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
pexpect = "*"
pyinstall = "*"
wexpect = "*"
pypiwin32 = "*"
pywin32 = "==301"

[dev-packages]

[requires]
python_version = "3.7"
